:root {
  --main-bg: #2b2b2b;
  --btn-purple: #a259ff;
  --light-grey: #3b3b3b;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  border: none;
}

@font-face {
  font-family: "WorkSans-reg";
  src: url(../assets/fonts/WorkSans-Regular.ttf);
}
@font-face {
  font-family: "WorkSans-sem";
  src: url(../assets/fonts/WorkSans-SemiBold.ttf);
}
@font-face {
  font-family: "SpaceMono";
  src: url(../assets/fonts/SpaceMono-Bold.ttf);
}

.container {
  max-width: 1100px;
  width: 90%;
  margin: 80px auto;
}

h2{
  font-family: "WorkSans-sem";
  font-size: 51px;
  margin-bottom: 30px;
}

h3 {
  font-family: "WorkSans-sem";
  line-height: 1.2;
  font-size: 38px;
}

h5 {
  margin-top: 15px;
  font-size: 22px;
  font-family: "WorkSans-sem";
  line-height: 1.4;
}

.sect-desc {
  margin: 10px 0 60px 0;
  font-size: 22px;
  line-height: 1.6;
}

.btn-transparent {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(0, -100%);

  width: 247px;
  height: 60px;
  border: 1px solid var(--btn-purple);
  background-color: transparent;
  color: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-family: "WorkSans-sem";
}
.btn-transparent:hover {
  cursor: pointer;
  color: var(--btn-purple);
  border: 1px solid white;
  transition: 0.4s;
}

.user {
  display: flex;
  align-items: center;
  gap: 12px;

  .user p {
    font-size: 16px;
    line-height: 1.4;
  }


}
