:root {
  --main-bg: #2b2b2b;
  --btn-purple: #a259ff;
  --light-grey: #3b3b3b;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  border: none;
}

@font-face {
  font-family: "WorkSans-reg";
  src: url(../assets/fonts/WorkSans-Regular.ttf);
}
@font-face {
  font-family: "WorkSans-sem";
  src: url(../assets/fonts/WorkSans-SemiBold.ttf);
}
@font-face {
  font-family: "SpaceMono";
  src: url(../assets/fonts/SpaceMono-Bold.ttf);
}

.container {
  max-width: 1100px;
  width: 90%;
  margin: 80px auto;
}

h3 {
  font-family: "WorkSans-sem";
  line-height: 1.2;
  font-size: 38px;
}

h5 {
    margin-top: 15px;
    font-size: 22px;
    font-family: "WorkSans-sem";
    line-height: 1.4;
  }


.sect-desc {
  margin: 10px 0 60px 0;
  font-size: 22px;
  line-height: 1.6;
  
}
