body {
  background-color: var(--main-bg);
  color: white;
  font-family: "WorkSans-reg", sans-serif;
}

header {
  width: 100%;
  height: 100px;
}

.header-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 50px;
}

.logo-title {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 20px;
  font-family: "SpaceMono";
  color: white;
  text-decoration: none;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navigation a {
  color: white;
  font-size: 16px;
  font-family: "WorkSans-sem";

}

.navigation a:hover {
  color: var(--btn-purple);
    transition: 0.4s;
}

.signup-btn {
  background-color: var(--btn-purple);
  color: white;

  padding: 19px;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  gap: 12px;
}

.burger {
  display: none;
  width: 24px;
  cursor: pointer;
}
