@media  (max-width: 1070px) {
  /*trending collection*/
  .collection-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .collection-wrapper :last-child {
    grid-column: 1 / span 2;
    justify-self: center;
  }

  /*creators*/
  .creators {
    .creators-grid {
      align-self: center;
      grid-template-columns: repeat(3, 1fr);
    }

    .creators-headline {
      .btn-transparent {
        position: relative;
      }
    }
  }

  /*categories*/

  .categories {
    .categories-grid {
      justify-self: center;

      grid-template-columns: repeat(3, 1fr);
      gap: 50px;
    }
  }
  /*NFTS*/
  .card:last-child {
    display: none;
  }

  .join-section{
    gap: 20px;
    padding: 20px;
  }
}

@media (max-width: 834px) {
  /*header*/
  .navigation {
    display: none;
  }
  .burger {
    display: block;
  }
  header {
    width: 100%;
  }
  /*hero*/
  .hero-section {
    flex-direction: column;
    gap: 30px;
  }

  .herobtn {
    margin: 0 auto;
  }
  .spacepic {
    width: 100%;
  }

  .sales {
    justify-content: center;
  }

  /*creators*/

  .creators {
    .creators-grid {
      align-self: center;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  /*categories*/

  .categories {
    .categories-grid {
      justify-self: center;

      grid-template-columns: repeat(2, 1fr);
    }
  }

  /*featured auction*/

 .featured-img{
 
  background-size: cover;
  background-position: center 30%;
  width: 100%;
  aspect-ratio: 2 / 2;

 }
 .info {

  padding: 0 50px;
  
}
}

