/* HERO SECTION */

.hero-section {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.hero-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  h1 {
    font-size: 67px;
  }
  .desc {
    font-size: 22px;
    font-weight: 400;

    color: white;
  }
  .herobtn {
    background-color: var(--btn-purple);
    color: white;
    display: flex;
    gap: 12px;
    font-family: "WorkSans-sem";
    justify-content: center;
    padding: 19px 50px;
    font-size: 16px;
    border-radius: 20px;
    width: fit-content;
  }
  .sales {
    display: flex;
    gap: 50px;
    margin-top: 30px;

    .quantity {
      font-family: "SpaceMono";
      font-size: 28px;

      .sales-name {
        font-size: 23px;
      }
    }
  }
}

.hero-right {
  display: flex;
  flex-direction: column;

  .grey-part {
    background-color: var(--light-grey);
    border-radius: 0 0 20px 20px;
    height: 100px;
    width: 100%;
  }
  .spacepic {
    width: 100%;
  }
  .img-title {
    margin-left: 20px;
    margin-top: 22px;
    font-size: 22px;
    font-family: "WorkSans-sem";
  }

  .animakid {
    margin-left: 20px;
    margin-top: 15px;
    display: flex;
    gap: 12px;
  }
}

.signup-btn:hover,
.herobtn:hover {
  background-color: blueviolet;
  cursor: pointer;
  transition: 0.5s;
}

/* TRENDING COLLECTION */

.collection-wrapper {
  display: flex;
  gap: 30px;
}

.collection {
  display: flex;
  flex-direction: column;
  gap: 15px;
  .big-img {
    width: 330px;
  }

  .card-imgs {
    display: flex;
    gap: 15px;

    & div {
      background-color: var(--btn-purple);
      width: 100px;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "SpaceMono";
      font-size: 22px;
      line-height: 1.6;
    }
    & div:hover {
      background-color: blueviolet;
      transition: 0.5s;
      cursor: pointer;
    }
  }
  .user {
    display: flex;
    align-items: center;

    gap: 12px;

    & p {
      font-size: 16px;
      line-height: 1.4;
    }

    & img {
      display: block;
    }
  }
}

/* TOP CREATORS */

.creators {
  display: flex;
  flex-direction: column;

  .creators-headline {
    position: relative;
  }

  .creators-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    .grid-item {
      background-color: var(--light-grey);
      border-radius: 20px;
      width: 240px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      & img {
        width: 120px;
      }
      & h5 {
        font-family: "WorkSans-sem";
        font-size: 22px;
        line-height: 1.4;
      }

      & p {
        color: rgba(133, 133, 132, 1);
        & span {
          padding-left: 10px;
          color: #fff;
          font-family: "SpaceMono";
        }
      }
    }
  }
}

/* CATEGORIES */

.categories {
  .categories-grid {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    .category-item {
      background-color: var(--light-grey);
      width: 240px;
      height: 316px;
      border-radius: 20px;
      .images-div {
        position: relative;
        overflow: hidden;
        border-radius: 20px 20px 0 0;

        .main-img {
          filter: blur(10px);
          transform: scale(1.1);
        }

        .icon-img {
          position: absolute;
          top: 0;
          left: 0;
          transform: translate(70%, 70%);
        }
      }

      & h5 {
        padding-left: 30px;
      }
    }

    .category-item:hover {
      transform: scale(1.1);
      transition: 0.4s;
      cursor: pointer;
    }
  }
}

/* NFTs section*/
.nfts {
  margin: 0 40px;
  .NFTs-headline {
    position: relative;

    .btn-transparent {
      transform: translate(0, 0);
      width: 187px;
    }
  }
  .nft-cards {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    .card {
      background-color: var(--light-grey);
      width: 420px;

      border-radius: 25px 25px 20px 20px;
      .nft-img {
        width: 100%;
        height: 296px;
      }
    }
  }
  .details {
    padding: 0 30px;
    .user {
      margin-top: 5px;
    }
  }
  .price-details {
    font-family: "SpaceMono";
    margin: 25px 0;
    display: flex;
    justify-content: space-between;
    & p {
      color: rgba(133, 133, 132, 1);
    }

    & span {
      color: #fff;

      display: block;
    }
  }
}

/* FEATURED section*/

.featured {
  position: relative;
}

.featured-img {
  background-image: url(../assets/images/magic-mushroom.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 30%;
  width: 100%;
  aspect-ratio: 2 / 1;
  /* height: 640px; */
  margin: 80px 0;

  position: relative;
}

.featured-img::after {
  content: " ";
  background-image: linear-gradient(
    rgba(162, 89, 255, 0),
    rgba(162, 89, 255, 1)
  );

  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.info {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 115px;
}

.user {
  display: flex;
  align-items: center;
  gap: 12px;
  width: fit-content;
  padding: 10px 20px;
  margin-bottom: 30px;
  background-color: var(--light-grey);
  border-radius: 20px;

  & img {
    width: 24px;
  }
}

.featured-wrapper {
  display: flex;
  justify-content: space-between;

  .btn-nft {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 198px;
    padding: 22px 50px;
    margin-bottom: 60px;
    background-color: #fff;
    border-radius: 20px;
    font-family: "WorkSans-sem";
    line-height: 1.4;
    cursor: pointer;
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.8;
    }
  }
}

.timer {
  width: 295px;
  height: 190px;
  padding: 30px;
  background-color: rgba(59, 59, 59, 0.5);
  border-radius: 20px;
  font-family: "SpaceMono";

  .auction {
    margin-bottom: 10px;
    font-size: 12px;
  }

  .time-wrapper {
    display: flex;
    gap: 12px;
  }

  .time {
    display: flex;
    flex-direction: column;

    & span {
      font-size: 38px;
    }
    & p {
      font-size: 12px;
    }
  }
}

/* HOW IT WORKS*/

.steps-wrapper {
  margin-top: 48px;
  display: flex;
  gap: 30px;

  .step {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 10px;
    width: 330px;
    background-color: var(--light-grey);
    border-radius: 20px;
    padding: 10px 30px 30px 30px;

    & p {
      line-height: 1.4;
    }
  }
}

/* JOIN SECTION*/

.join-section {
  display: flex;
  gap: 80px;
  background-color: var(--light-grey);
  border-radius: 20px;
  margin-top: 40px;
  margin-bottom: 80px;

  padding: 60px;

  .right-side-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
  }
}

.email {
  background-color: #fff;
  padding: 19px 20px;
  border-radius: 20px 0 0 20px;
  color: #2b2b2b;
  width: 425px;
}

.subscribe-btn {
  font-family: "WorkSans-sem";
  border-radius: 20px;
  background-color: var(--btn-purple);
  color: #fff;
  display: flex;
  justify-content: center;
  gap: 12px;
  padding: 19px 50px;

  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-80%, -65%);

  @media (max-width: 1220px) {
    transform: translate(10%, -65%);
  }
}

.subscribe-btn:hover {
  background-color: blueviolet;
  transition: 0.4s;
  cursor: pointer;
}
/* FOOTER*/

.footer {
  display: flex;
  gap: 84px;

  .column {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;

    & h5 {
      font-family: "SpaceMono";
    }
  }

  .subscribe-btn {
    transform: translate(10%, -25%);
  }
}
 .copyright {
  width: 95%;
  margin: 50px;
  color: #cccccc;
  font-size: 12px;
  padding-top: 20px;
  border-top: 1px solid #858584;
}
